<% if !current_user.subscriptions.empty? %>
	<% current_user.subscriptions.each do |sub| %>
		<% if !sub.subscriber_id = nil %>
			<h3> BitBox: </h3>
			<%= sub.level %><br>
			<% @date = sub.updated_at %>
			<br>Started on: <%= @date.strftime("%m/%d/%Y") %><br><br>
			<%= link_to "Cancel Subscription", subscription_path(sub), method: :delete %>
		<% end %>
	<% end %><br>
<% else %>
	You Are Not Subscribed.
<% end %>