<% if !current_user.subscriptions.empty? %>
	<% current_user.subscriptions.each do |sub| %>
		<% if !sub.subscriber_id = nil %>
			<h3> BitBox: </h3>
			<%= sub.level %><br>
			<%= sub.box.name %><br>
			<% @date = sub.updated_at %>
			Started on: <%= @date.strftime("%m/%d/%Y") %><br><br>
			<%= link_to 'View Your Subscription', user_subscription_path(current_user, sub) %>
		<% end %>
	<% end %><br>
<% else %>
	You Are Not Subscribed.
<% end %>