<h2><%= current_user.name %></h2>

<br>

<h2> <%= link_to "Edit Your Profile", edit_user_path(current_user) %></h2>

<h2> Current Subscription </h2>
<% binding.pry %>
<% current_user.subscriptions.each do |sub| %>
	<%= sub.level %>
<% end %>
