<center><h2> STARTER BOXES </h2></center>
<div class="boxes">
</div>

<!-- <center><h2> STARTER BOXES </h2></center> -->



<!-- <center><h2> ADVANCED BOXES </h2></center> -->




<!-- <center><h2> SUPER PRO BOXES </h2></center> -->
<!-- <center><h3>Super Pro Boxes mean more creative possibilities.</h3></center>
<br>
<img src="https://s3.amazonaws.com/lb-spree/spree/products/3006/large/SHK-Reskin-wBits_HR.jpg?1469125020"><br> 
<strong>Smart House Box</strong><br>
$249.00<br>
Create DIY smart home inventions that you control over the internet. Great for DIY’ers.<br>
For ages 16+ -->
