<center><h2> STARTER BOXES </h2></center>
<center><h3>You're ready to be an inventor with this Starter Box.</h3></center>
<br>
<img src="https://s3.amazonaws.com/lb-spree/spree/products/3046/large/ryr-kit.jpg?1477951666"><br>
<strong>Rule Your Space Box</strong><br>
$99.95<br>
Build touch-activated inventions to control your stuff. Great for kids & younger makers.<br>
For ages 8+

<center><h2> ADVANCED BOXES </h2></center>
<center><h3>Love to build? Want a custom smart device? This is the perfect box for you.</h3></center>
<br>
<img src="https://s3.amazonaws.com/lb-spree/spree/products/3033/large/ack-kit.jpg?1471356817"><br>
<strong>Arduino Coding Box</strong><br>
$99.95<br>
Create programmable inventions while learn basic coding. Great for older kids & prototypers.<br>
For ages 12+

<center><h2> SUPER PRO BOXES </h2></center>
<center><h3>Super Pro Boxes mean more creative possibilities.</h3></center>
<br>
<img src="https://s3.amazonaws.com/lb-spree/spree/products/3006/large/SHK-Reskin-wBits_HR.jpg?1469125020"><br>
<strong>Smart House Box</strong><br>
$249.00<br>
Create DIY smart home inventions that you control over the internet. Great for DIY’ers.<br>
For ages 16+
