<div id="myCarousel" class="carousel slide span12">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img class="d-block img-fluid" src=https://s3.amazonaws.com/lb-spree/spree/products/3046/large/ryr-kit.jpg?1477951666 alt="First slide">
            </div>
            <div class="item">
              <img class="d-block img-fluid" src="https://s3.amazonaws.com/lb-spree/spree/products/3033/large/ack-kit.jpg?1471356817" alt="Second slide">
            </div>
            <div class="item">
              <img class="d-block img-fluid" src="https://s3.amazonaws.com/lb-spree/spree/products/3006/large/SHK-Reskin-wBits_HR.jpg?1469125020" alt="Third slide">
            </div>
        </div>
    </div>
</div>

<div class="card w-50">
  <div class="card-block"><br>
    <h3 class="card-title" > What is </h3>
    <h3 class="card-title" id="second-title"> BitBox? </h3><br>
    <p class="card-text">BitBox is a diy product that encourages everyone regardless of age to create inventions.</p>
  </div><br>
</div>

