<div class="subs-container">
  <h2><center> MONTHLY PLAN </center></h2></div><br><br>


  <table border="1" cellpadding="50" class="subs" >
    <tr>
      <td class="table" id="1"></td>
      <td class="table" id="2"></td>
      <td class="table" id="3"></td>
    </tr>
  </table>



  <div class="container" id="subs-info">
  <div class="row" >
  <div class="col-sm-12" >  <div class="box-info"></div> </div>
  </div>


</div>
