<div class="subs-container">
	<h2><center> Monthly Plan </center></h2></div><br><br>


	<table border="1" cellpadding="50" class="subs">
		<tr>
			<td class="table" id="0"></td>
			<td class="table" id="1"></td>
			<td class="table" id="2"></td>
		</tr>
	</table>

	<div class="box-info"></div>

</div>



