<div class="subs-container">
	<h2><center> MONTHLY PLAN </center></h2></div><br><br>

<!-- 
	<table border="1" cellpadding="50" class="subs">
		<tr>
			<% @subs.first(3).each do |sub| %>
				<td class="table" id=<%= sub.id %>></td>
			<% end %>
		</tr>
	</table>

	<div class="box-info"></div> -->

</div>



