/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/* Navigation Bar */

#nav-bar {
	padding: 10px, 40px, 40px, 10px;
    border-bottom-width: 20px;
    margin: 20px;   
    border-bottom: solid 1px #ededed;
}

.logo {
	color: #5f027e;
	font-size: 35px;
}

.logo-2{
	color: #5f027e;
	font-size: 15px;
    padding-top: 10px;
}

.logo:link, .logo-2:link {
	color: #5f027e;
	text-decoration: none;
}

.logo:hover, .logo-2:hover {
	color: #5f027e;
}

.col-xs-12.col-sm-6.col-md-8 {
	padding-bottom: 10px;
}

.col-xs-6.col-md-4 {
    padding-left: 95px;
    padding-top: 20px;
}


.fa.fa-user, .fa.fa-shopping-cart {
	 font-size: 20px;
}


/* Sign in/ Log in pages */

h3 {
	text-align: center;
}

p {
	text-align: center;
}

.col-md-4.col-md-offset-4 {
	margin-top: 40px;
}

.panel-title {
	text-align: center;
	padding: 5px;
}

.panel-default > .panel-heading{
	background-color: transparent;
}

.panel-heading {
    padding-bottom: 5px;
    padding-top: 5px;
}

a.signin {
	left: 30px;
	color:  #5f027e;
}

a:hover {
	color:  #5f027e;
}

.btn-success {
	background-color: #5f027e;
	border-color: #5f027e;
	text-transform: uppercase;
	border-radius: 2px;
	text-align: center;
}

.btn-success:hover {
	background-color: #430059;
	border-color: #430059;
	color: white;
}

.btn.btn-lg.btn-facebook.btn-block{
	background-color: #23527c;
	border-color: #23527c;
	color: white;
}

.btn.btn-lg.btn-facebook.btn-block:hover {
	background-color: #1e486d;
	border-color: #1e486d;
	color: white;
}

#user_email, #user_password, #user_password_confirmation{
	width: 250px;
    height: 36px;
    padding: 5px;
}

input[type=email]:focus, input[type=password]:focus {
    border: 3px solid #555;
}


/* Forget Password */

#borderless {
	border: transparent;
}
