// Place all the styles related to the Subscriptions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

.d-block.img-fluid {
	display: block;
    margin-left: auto;
    margin-right: auto;
}


.carousel.slide {
	background-color: #5f027e;
}


#second-title{
	text-transform: uppercase;
}

.card-title {
	color: #5f027e;
}

.card-text {
	font-size: 20px;
	color: #5f027e;
}